<?xml version="1.0" ?>
<config>
	<modules>
		<Aoe_MailLog>
			<version>0.0.1</version>
		</Aoe_MailLog>
	</modules>

	<global>
		<aoe_logviewer>
			<logs>
				<mail.log>
					<label>mail.log</label>
					<file_path>###LOGDIR###/mail.log</file_path>
					<model>aoe_logviewer/log_file</model>
					<sort_order>10</sort_order>
					<!--<disabled>1</disabled>-->
					<commands>
						<tail>
							<label>Last n lines (newest first)</label>
							<command_string>tail -n %2$s '%1$s' | tac</command_string>
							<model>aoe_logviewer/command_shell</model>
							<sort_order>10</sort_order>
							<!--<disabled>1</disabled>-->
						</tail>
						<duplicates>
							<label>Find duplicates</label>
							<command_string>cat '%1$s' | cut -c27- | sort | uniq -c | sort -rn | head -n %2$s</command_string>
							<model>aoe_logviewer/command_shell</model>
							<sort_order>30</sort_order>
						</duplicates>
					</commands>
				</mail.log>
			</logs>
		</aoe_logviewer>
	</global>
</config>
